/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

table.sortable thead {
    font-weight: bold;
    cursor: pointer;

}

.sortable {
	width: 100%;
	margin-top: 10px;
}

td {
	padding: 5px !important;
	// border-color: black;
	// border-width: 1px;
	// border-style: solid;
}

.modal-details {
	padding: 5px;
	margin: 5px;
}

.deethree {
	// background-color: aaaaaa;
	position: absolute;
	height: 340px;
	width: 500px;
	border-width: 1px;
	border-color: black;
	border-style: solid;
}

.background {
	fill: red;
}

