/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

table.sortable thead {
    background-color:#eee;
    color:#666666;
    font-weight: bold;
    cursor: default;

}

.sortable {
	width: 100%;
}

td {
	padding: 5px;
	border-color: black;
	border-width: 2px;
	border-style: solid;
}

.modal-details {
	padding: 5px;
	margin: 5px;
}

